
.country-table__container{
    background: rgba(0, 0, 0, 0.07);
    position: relative;
    flex-direction: column;
}
.form-control, .input-group {
    max-width: 470px;
}
.list-group-flush{
    height: 40vh;
    overflow: auto;
    background: rgba(255, 255, 255, 0.1);
}

.list-group-item-action{
    font-size: 0.85em;
    background: rgba(255, 255, 255, 0.0);
    display: flex;
    gap: 7px;
    align-items: center;
    img{
        width: 40px;
        height: auto;
    }
    &:focus{
        color: #cdcdcd;
        outline-color: rgba(236, 38, 38, 0.8);
        background: rgba(255, 255, 255, 0.1);
    }
    &:hover, &:active{
        background: rgba(255, 255, 255, 0.3);
    }
    .active{
        color: active;
        background: rgba(255, 255, 255, 0.3);
    }
}
.country-count{
    font-weight: 600;
    letter-spacing: 0.04em;
}
