@import "~bootstrap/scss/bootstrap";
@import "components/globalTable/globalTable.scss";
@import "components/countryCasesTable/countryCases.scss";
.covid19{
  position: relative;
}
select{
  cursor: pointer;
  &:hover{
    background-color: #6c757d;
  }
}
.hidden{
  display: none;
}
.full-screen__button{
  img{
    width: 1rem;
  }
  line-height: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 500;
}
.map__container, .chart__container{
  position: relative;
}
.full-screen{
  .list-group-flush{
    height: 80vh;
  }
  padding: 1rem;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #fff;
  z-index: 999;
  .full-screen__button{
    top: 1rem;
    right: 1rem;
  }
}
.full-screen.country-cases__container{
  vertical-align: middle;
  padding-top: 25%;
}

.col-lg-8, .col-lg-4 {
  max-height: 95vh;
}
